.recettes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recette {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.recette img {
    width: 100%;
    border-radius: 15px;
}

.favori {
    border-color: red;
}