h1 {
    text-align: center;
}

.en_tete{
    text-align: center;
}

.connexion {
    float:right;
    border: 0;
    padding: 5px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    background-color: black;
}

.connexion:hover {
    background-color: rgb(50,50,50);
}

.connexion:active { 
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

.container {
    display: flex; /* Dispose les enfants horizontalement */
    align-items: flex-start; /* Aligne les enfants en haut */
    gap: 20px; /* Espace entre le <select> et les recettes */
}

.recettes-container {
    flex-grow: 1; /* Prend tout l'espace disponible */
}

.recettes-container strong {
    display: block; /* S'assure que le texte occupe toute la largeur */
    margin-bottom: 10px; /* Ajoute un espace entre le titre et les recettes */
}

.recettes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recette {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.recette img {
    width: 100%;
    border-radius: 15px;
}

.select {
    width: 200px; /* Définissez une largeur fixe */
    height: 230px; /* Définissez une hauteur fixe */
    overflow: auto; /* Ajoutez un défilement si le contenu dépasse */
    box-sizing: border-box; /* Inclut les bordures dans la largeur/hauteur */
    font-size: 14px; /* Taille de police constante */
}

.favori {
    border-color: red;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container form {
    flex: 1;
}

.search-container .greeting {
    margin-left: 10px;
    white-space: nowrap;
}
