.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.recettes-container {
    flex-grow: 1;
}

.recettes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recette {
    border: solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.recette img {
    width: 100%;
    border-radius: 15px;
}

.select {
    width: 200px; /* Définissez une largeur fixe */
    height: 230px; /* Définissez une hauteur fixe */
    overflow: auto; /* Ajoutez un défilement si le contenu dépasse */
    box-sizing: border-box; /* Inclut les bordures dans la largeur/hauteur */
    font-size: 14px; /* Taille de police constante */
}

.favori {
    border-color: red;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container form {
    flex: 1;
}

.search-container .greeting {
    margin-left: 10px;
    white-space: nowrap;
}
